.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productCard {
  position: relative;
  flex-basis: calc(32.31% - 10px);
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  transition: border-color 0.3s;
  background: linear-gradient(90deg,
    ) padding-box,
    linear-gradient(white, white) border-box;
  box-shadow: 0 0 20px rgba(230, 21, 119, 1);
}

.buttonContainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.productDetailsButton {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(135deg,
      rgba(230, 21, 119, 1),
      rgba(153, 36, 120, 1) 60%);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.95em;
  font-weight: 700;
  border-radius: 6px;
}

.productImage {
  max-width: 100%;
  max-height: 100%;
}

.productCard img {
  max-width: 90%;
  height: 250px;
  margin-bottom: 10px;
}

.descriptionContainer {
  max-height: 200px;
  overflow: hidden;
}

.productDescription {
  font-size: 14px;
}

.productCard h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.productCard p {
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: blue;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .productList {
    flex-direction: column;
    align-items: center;
  }

  .productCard {
    flex-basis: 100%;
  }

  .buttonContainer {
    position: relative; 
    bottom: auto;
    width: auto;
    margin-top: 10px; 
  }
}